@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/contato.css);
@import url(styles/footer.css);

:root{
    --page-color: #ebecee;
    --header-bg: #ffffff;
    --titulo-lista: #eb9b00;
    --menu-lista: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-family: 'Poppins', 'sans-serif';
    --text-blue: #002f52;
    --fonte-titulo: 'josefin sans', 'sans-serif';
    --cor-footer: #858585;
    --link-footer: #474646;
}

body{
    background-color: var(--page-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}

.topicos>.btn-list{
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em 1em;
}

.btn-list>.btn{
    font-size: 14px;
}

.topicos{
    text-align: center;
    padding: 1em;
    background: var(--menu-lista);    
}

.topicos>h2{
    color: var(--header-bg);
    font-weight: 300;
    margin:1em 0
}

@media screen and (min-width: 1024px) {
    .topicos>h2{
        font-size: 24px;
    }

    .btn-list>.btn{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos{
        padding: 5em 20%
    }
}