.hamburger{
    width: 36px;
    height: 36px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.btn-label{
    padding: .5em .5em;
}

.btn-menu:checked~.btn-label>.hamburger{
    background-image: url(../assets/hover-changes/menu_black_24dp\ 1.svg);
}
.btn-menu:checked~.btn-label{
    background: var(--menu-lista);
}
header{
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    gap: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.btn-menu:checked~.lista-menu{
    display: block;
    width: auto;
}

.titulo-lista,
.lista-item{
    padding: 1em;
    background-color: var(--header-bg);
}

.titulo-lista{
    color: var(--titulo-lista);
    font-weight: 700;
}

.lista-link{
    background: var(--menu-lista);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    background-clip: text;
}

.btn-menu{
    display: none;
}

.titulo{
    display: none;
}

.lista-opcoes{
    display: none;
}

.container>a>p{
    display: none;
}

@media screen and (min-width: 1024px) {
    .titulo{
        font-family: var(--fonte-titulo);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }
    .titulo>b{
        font-weight: 700;
    }

    .lista-opcoes{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 2em;
    }

    .item-opcoes{
        padding: 0.5em 1em;
        text-transform: uppercase;
    }

    .link-opcoes{
        text-decoration: none;
        color: black;
    }

    .like{
        display: none;
    }
    .container>input, .container>label{
        display: none;
    }

    #categoria-tablet{
        display: none;
    }

    #categoria-tablet:checked~.lista-menu{
        display: block;
        width: auto;
    }

    #categoria-tablet:checked~.lista-label{
        background: var(--menu-lista);
        color: var(--header-bg);
    }

    .lista-label{
        padding: 1em 1em;
    }

    .lista-item:hover{
        background: var(--menu-lista);
    }
    .lista-item:hover>.lista-link{
        -webkit-text-fill-color: var(--header-bg);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container>a{
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 0 1em;
    }

    .container>a>p{
        display: block;
        color: black;
        font-size: 20px;
    }

    header{
        padding: 0 2em;
    }

    .lista-opcoes{
        margin-right: auto;
    }
}